.tasks_container {
    width: 60%;
    padding-top: 4rem;
    font-family: var(--font-text);
}

.tasks_list {
    background-color: var(--color-light);
    color: var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.4rem;
    filter: drop-shadow(0px 5px 10px #313131);
    margin-bottom: 1.3rem;
}

.tasks_list > h2 {
    text-align: center;
    font-size: 2.4rem;
}

.tasks_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_container {
    display: flex;
    gap: 0.8rem;
}

.filter {
    width: 10rem;
    border-radius: 1rem;
    padding: 0 0.5rem;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_content {
    width: 85%;
    background-color: var(--color-bg-light);
    color: var(--color-light);
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.task_content:hover {
    outline: 2px solid var(--color-bg-variant);
    outline-offset: 0.2rem;
}

.done {
    text-decoration: line-through;
}

.task_name {
    font-size: 1.1rem;
}

.task_due {
    margin: -1.4rem 0 0;
    font-size: 0.55rem;
    font-style: italic;
}

.task_actions {
    display: flex;
    gap: 0.5rem;
}

.task_icons {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 2.2rem;
    transition: var(--transition);
}

.task_icons:hover {
    transform: translateY(-0.7rem);
}

.task_done {
    background-color: rgb(8, 74, 8);
}
.task_edit {
    background-color: rgb(14, 14, 83);
}
.task_delete {
    background-color: rgb(105, 7, 7);
}

/* TASK VIEW MODAL */
.task_view {
    color: var(--color-bg-variant);
}